body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form {
  margin-top: 200px;
  text-align: center;
}

.form > div {
  padding: 5px 0 5px 0;
}

.form button {
  background-color: #282c34;
  color: white;
  border: 0;
  padding: 10px 20px;
}

.wrapper {
  margin-top: 1rem;
  margin-left: 1rem;
}

.fontSize07 {
  font-size: .7rem;
}
